run = """
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
export NVM_DIR=\"$HOME/.nvm\"
[ -s \"$NVM_DIR/nvm.sh\" ] && \\. \"$NVM_DIR/nvm.sh\"
[ -s \"$NVM_DIR/bash_completion\" ] && \\.\"$NVM_DIR/bash_completion\"
nvm install 16.15
node .
"""
entrypoint = "index.js"

hidden = ["LICENSE.txt", "src/backends/file.js", "db/*.json"]

[env]
backend = "replit"

[packager]
language = "nodejs-npm"
ignoredPackages = ["dotenv"]
