run = ["bash", "./replit.sh"]
entrypoint = "index.js"

hidden = ["LICENSE.txt", "src/backends/file.js", "db/*.json"]

[env]
backend = "replit"

[packager]
language = "nodejs-npm"
ignoredPackages = ["dotenv"]
